.form-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  background: #FFFFFF;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

.matrix-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

.input-container {
  display: flex;
  justify-content: space-between;

  &>label {
    flex: 1
  }

  &>input {
    flex: 8;
    border-radius: 8px;
    border: 1px solid #242424;
    padding: 8px;
  }
}

button.submit {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  background-color: #242424;
}

.row {
  display: flex;
  min-width: 80px;
  min-height: 80px;
  color: #FFFFFF;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  min-height: 80px;
  background-color: #242424;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
}